@model BackOffice.Areas.LykkePay.Models.InvoicesListViewModel
@using BackOffice.Models
@{
    IEnumerable<ItemViewModel> merchantList = Model.Merchants.
        Select(m => new ItemViewModel { Id = m.Id, Title = m.Name }).ToArray();
}
<div>
    <h1>Invoices</h1>
    <hr />
    <form id="frmInvoicesPage">
        @Html.HiddenFor(x => x.CurrentPage)
        @Html.HiddenFor(x => x.PageSize)
        <div class="row">
            <div class="col-md-2 col-md-offset-0 input-lg">
                @Html.RenderSelect2("", "SelectedMerchant", merchantList, false, "Select merchant...")
            </div>
        </div>
    </form>
    <div id="invoicesList"></div>
</div>

<script>
    $(function () {
            var $merchantSelect = $('#selectedMerchant');
            $merchantSelect.select2().on("change",
                function (e) {
                    requests.doRequest({
                        url: '@Url.Action("InvoicesList")',
                        formId: '#frmInvoicesPage',
                        divResult: '#invoicesList'
                    });
                });
            $('.select2-container--default').width(200);
            requests.doRequest({ url: '@Url.Action("InvoicesList")', formId: '#frmInvoicesPage', divResult: '#invoicesList' });
        });
</script>