@using BackOffice.Translates
@model BackOffice.Areas.LykkePay.Models.InvoicesListViewModel
@if (Model.Invoices != null && Model.Invoices.Any())
{
    @Html.RenderPagination(Model.PageSize, Model.Count, Model.CurrentPage, "InvoicesList", "frmInvoicesPage", "invoicesList")
    <table class="table table-striped">
        <tr>
            <th>
                Number
            </th>
            <th>
                Amount
            </th>
            <th>
                ClientEmail
            </th>
            <th>
                ClientName
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                DueDate
            </th>
            <th>
                Note
            </th>
            <th>
                PaymentAssetId
            </th>
            <th>
                PaymentRequestId
            </th>
            <th>
                SettlementAssetId
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Invoices)
                {
            <tr>
                <td>
                    @item.Invoice.Number
                </td>
                <td>
                    @item.Invoice.Amount
                </td>
                <td>
                    @item.Invoice.ClientEmail
                </td>
                <td>
                    @item.Invoice.ClientName
                </td>
                <td>
                    @item.Invoice.CreatedDate
                </td>
                <td>
                    @item.Invoice.DueDate
                </td>
                <td>
                    @item.Invoice.Note
                </td>
                <td>
                    @item.Invoice.PaymentAssetId
                </td>
                <td>
                    @item.Invoice.PaymentRequestId
                </td>
                <td>
                    @item.Invoice.SettlementAssetId
                </td>
                <td>
                    @item.Invoice.Status
                </td>
                <td style="text-align: right">
                </td>
            </tr>
            <tr>
                <td colspan="12">
                    <div style="background-color: lightgray">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    DueDate
                                </th>
                                <th>
                                    MarkupFixedFee
                                </th>
                                <th>
                                    MarkupPercent
                                </th>
                                <th>
                                    MarkupPips
                                </th>
                                <th>
                                    ExternalOrderId
                                </th>
                                <th>
                                    PaidAmount
                                </th>
                                <th>
                                    PaidDate
                                </th>
                                <th>
                                    CreatedOn
                                </th>
                                <th>
                                    PaymentAssetId
                                </th>
                                <th>
                                    SettlementAssetId
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Error
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @item.Request.Id
                                </td>
                                <td>
                                    @item.Request.Amount
                                </td>
                                <td>
                                    @item.Request.DueDate
                                </td>
                                <td>
                                    @item.Request.MarkupFixedFee
                                </td>
                                <td>
                                    @item.Request.MarkupPercent
                                </td>
                                <td>
                                    @item.Request.MarkupPips
                                </td>
                                <td>
                                    @item.Request.ExternalOrderId
                                </td>
                                <td>
                                    @item.Request.PaidAmount
                                </td>
                                <td>
                                    @item.Request.PaidDate
                                </td>
                                <td>
                                    @item.Request.Timestamp
                                </td>
                                <td>
                                    @item.Request.PaymentAssetId
                                </td>
                                <td>
                                    @item.Request.SettlementAssetId
                                </td>
                                <td>
                                    @item.Request.Status
                                </td>
                                <td>
                                    @item.Request.ProcessingError
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="row">
        <p>@Phrases.NoRecordsFound</p>
    </div>
}

