@using BackOffice.Translates
@model BackOffice.Areas.LykkePay.Models.InvoicesListViewModel
@if (Model.Invoices != null && Model.Invoices.Any())
{
    @Html.RenderPagination(Model.PageSize, Model.Count, Model.CurrentPage, "InvoicesList", "frmInvoicesPage", "invoicesList")
    <table class="table table-striped">
        <tr>
            <th>
                Number
            </th>
            <th>
                Amount
            </th>
            <th>
                ClientEmail
            </th>
            <th>
                ClientName
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                DueDate
            </th>
            <th>
                Note
            </th>
            <th>
                PaymentAssetId
            </th>
            <th>
                PaymentRequestId
            </th>
            <th>
                SettlementAssetId
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Invoices)
                {
            <tr>
                <td>
                    @item.Number
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.ClientEmail
                </td>
                <td>
                    @item.ClientName
                </td>
                <td>
                    @item.CreatedDate
                </td>
                <td>
                    @item.DueDate
                </td>
                <td>
                    @item.Note
                </td>
                <td>
                    @item.PaymentAssetId
                </td>
                <td>
                    @item.PaymentRequestId
                </td>
                <td>
                    @item.SettlementAssetId
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a href="javascript:void(0);" class="requests" invoiceId="@item.Id">requests</a>
                </td>
                <td style="text-align: right"></td>
            </tr>
        }
    </table>
}
else
{
    <div class="row">
        <p>@Phrases.NoRecordsFound</p>
    </div>
}
<script>
    $(".requests").click(function (e) {
        var invoiceId = e.currentTarget.getAttribute("invoiceId");
            var options = {
                url: '@Url.Action("PaymentRequests", "Invoices", new { area = "LykkePay" })', type: 'POST', headers: { 'RequestVerificationToken': getAntiForgeryCookie() }, data: {
                    'invoiceId': invoiceId
                } };
            $.ajax(options)
                .then(function(result) {

                    var historyItem = {
                        url: '@Url.Action("PaymentRequests", "Invoices", new { area = "LykkePay" })',
                        div: '#pamain',
                        type: 'menu'
                    };

                    historyManager.put(historyItem);

                    $('#pamain').html(result);
                    layout.ressize();
                }).fail(function(fr) {
                    if (xhr && (xhr.status === 403 || xhr.status === 401)) {
                        console.log("Forbidden redirecting to index...");
                        window.location = '@Url.Action("Index", "Home")';
                    } else {
                        activeItem.addClass('smiSel');
                        $('#pamain').html(fr.responseText);
                    }
                });
        });
</script>

