@using BackOffice.Translates
@model BackOffice.Areas.LykkePay.Models.Merchants.MerchantCertificateViewModel

@{
    Layout = "~/Views/Shared/_PersonalAreaDialog.cshtml";
}

<form id="frmMerchantCertificate" autocomplete="off" style="max-height: 700px;overflow: auto;">
    <div id="errorMessage"></div>
    <div class="form-group">
        @Html.RenderInputWithLabelOnTop("DisplayName", "DisplayName", Model.DisplayName, focused: true)
    </div>
    <div class="form-group">
        @Html.RenderInputWithLabelOnTop("Organization unit", "OrgUnit", Model.OrgUnit)
    </div>
    <div class="form-group">
        @Html.RenderInputWithLabelOnTop("Organization", "Organization", Model.Organization)
    </div>
    <div class="form-group">
        @Html.RenderInputWithLabelOnTop("Email", "Email", Model.Email)
    </div>
    <div class="form-group">
        @Html.RenderInputWithLabelOnTop("Country", "Country", Model.Country)
    </div>
</form>
@Html.RenderSaveCancelButtonPair("", "#frmMerchantCertificate", "Generate")
<script>
    $(".btn.btn-success").click(function (e) {
        var params = {};
        params.DisplayName = $("#displayName").val();
        params.OrgUnit = $("#orgUnit").val();
        params.Organization = $("#organization").val();
        params.Email = $("#email").val();
        params.Country = $("#country").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GenerateMerchantCertificates")',
            data: params,
            dataType: "json",
            headers: { 'RequestVerificationToken': getAntiForgeryCookie() },
            success: function (json, status) {
                window.location = '@Url.Action("DownloadCertificate")' + '?filename=' + json;
            },
            error: function (result, status, err) {
                return;
            }
        });
    });
</script>