@using BackOffice.Translates
@model BackOffice.Areas.LykkePay.Models.MerchantsListViewModel
@if (Model.Merchants != null && Model.Merchants.Any())
{
    @Html.RenderPagination(Model.PageSize, Model.Count, Model.CurrentPage, "MerchantsList", "frmMerchantsPage", "merchantsList")
    <table class="table table-striped">
        <tr>
            <th>
                Name
            </th>
            <th>
                DisplayName
            </th>
            <th>
                ApiKey
            </th>
            <th>
                DeltaSpread
            </th>
            <th>
                TimeCacheRates
            </th>
            <th>
                LpMarkupPercent
            </th>
            <th>
                LpMarkupPips
            </th>
            <th>
                MarkupFixedFee
            </th>
            <th>
                LwId
            </th>
            <th>
                Staffs
            </th>
            <th>
                Requests
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Merchants)
                {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.DisplayName
                </td>
                <td>
                    @item.ApiKey
                </td>
                <td>
                    @item.DeltaSpread
                </td>
                <td>
                    @item.TimeCacheRates
                </td>
                <td>
                    @item.LpMarkupPercent
                </td>
                <td>
                    @item.LpMarkupPips
                </td>
                <td>
                    @item.MarkupFixedFee
                </td>
                <td>
                    @item.LwId
                </td>
                <td>
                    <a href="javascript:void(0);" class="staffs" merchantId="@item.Id">staffs</a>
                </td>
                <td>
                    <a class="requests" href="javascript:void(0);" merchantId="@item.Id">requests</a>
                </td>
                <td style="text-align: right">

                    @if (Model.IsEditAccess || Model.IsFullAccess)
                    {
                        <button class="btn btn-xs btn-default btn-raised"
                                onclick="ui.showDialog('@Url.Action("AddOrEditMerchantDialog")', { id: '@item.Id' });">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    }
                    @if (Model.IsFullAccess)
                    {
                        <button class="btn btn-xs btn-danger btn-raised"
                                onclick="ui.showDialog('@Url.Action("DeleteMerchantDialog")', { merchant: '@item.Name', id: '@item.Id' });">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    }
                </td>
            </tr>
        }
    </table>
    <script>
        $(".requests").click(function (e) {
            var merchantId = e.currentTarget.getAttribute("merchantId");
            var options = {
                url: '@Url.Action("Index", "PaymentRequests", new { area = "LykkePay" })', type: 'POST', headers: { 'RequestVerificationToken': getAntiForgeryCookie() }, data: {
                    'merchantId': merchantId
                } };
            $.ajax(options)
                .then(function(result) {

                    var historyItem = {
                        url: '@Url.Action("Index", "PaymentRequests", new { area = "LykkePay" })',
                        div: '#pamain',
                        type: 'menu'
                    };

                    historyManager.put(historyItem);

                    $('#pamain').html(result);
                    layout.ressize();
                }).fail(function(fr) {
                    if (xhr && (xhr.status === 403 || xhr.status === 401)) {
                        console.log("Forbidden redirecting to index...");
                        window.location = '@Url.Action("Index", "Home")';
                    } else {
                        activeItem.addClass('smiSel');
                        $('#pamain').html(fr.responseText);
                    }
                });
        });
        $(".staffs").click(function (e) {
            var merchantId = e.currentTarget.getAttribute("merchantId");
            var options = {
                url: '@Url.Action("Index", "Staffs", new { area = "LykkePay" })', type: 'POST', headers: { 'RequestVerificationToken': getAntiForgeryCookie() }, data: {
                    'merchantId': merchantId
                } };
            $.ajax(options)
                .then(function(result) {

                    var historyItem = {
                        url: '@Url.Action("Index", "Staffs", new { area = "LykkePay" })',
                        div: '#pamain',
                        type: 'menu'
                    };

                    historyManager.put(historyItem);

                    $('#pamain').html(result);
                    layout.ressize();
                }).fail(function(fr) {
                    if (xhr && (xhr.status === 403 || xhr.status === 401)) {
                        console.log("Forbidden redirecting to index...");
                        window.location = '@Url.Action("Index", "Home")';
                    } else {
                        activeItem.addClass('smiSel');
                        $('#pamain').html(fr.responseText);
                    }
                });
        });
    </script>
}
else
{
    <div class="row">
        <p>@Phrases.NoRecordsFound</p>
    </div>
}

