@using BackOffice.Translates
@model BackOffice.Areas.LykkePay.Models.RefundMoneyDialogViewModel

@{
    Layout = "~/Views/Shared/_PersonalAreaDialog.cshtml";

    IEnumerable<SelectListItem> walletsList = Model.Wallets.
        Select(x => new SelectListItem { Value = x, Text = x }).Append(new SelectListItem() { Text = "Manual", Value = "Manual" }).ToArray();
}

<form id="frmRefundMoney">
    @Html.HiddenFor(x => x.SelectedMerchant)
    @Html.HiddenFor(x => x.SelectedPaymentRequest)
    @Html.HiddenFor(x => x.SelectedWalletAddress)
    <div id="errorMessage"></div>
    <div class="form-group">
        Are you sure?
    </div>
    <div class="form-group">
        Wallet: @Html.DropDownListFor(model => model.SelectedWallet, walletsList)
    </div>
    <div class="form-group manualaddress">
        @Html.RenderInputWithLabelOnTop("ManualWalletAddress", "Wallet address", Model.ManualWalletAddress)
    </div>
</form>

@Html.RenderSaveCancelButtonPair(Url.Action("RefundMoney"), "#frmRefundMoney", "Yes")
<script>
    $(".manualaddress").css("display", "none");
    $("#SelectedWallet").change(function (e) {
        var style = (e.currentTarget.value === "Manual") ? "" : "none";
        $(".manualaddress").css("display", style);
        $("#manualWalletAddress").val("");
    });
</script>