@using BackOffice.Translates
@using BackOffice.Models
@model BackOffice.Areas.LykkePay.Models.BtctransfersPageViewModel

@{
    IEnumerable<ItemViewModel> merchantList = Model.Merchants.
        Select(m => new ItemViewModel { Id = m.Id, Title = m.Name }).ToArray();
}

@if (merchantList.Any())
{
        <div class="row" style="margin-left: 30px">
            <h1>BTC transfers</h1>
            <div class="col-md-2">
                <a class="btn btn btn-success"
                   onclick="selectedCheckboxes()">
                    Transfer
                </a>
            </div>
        </div>
        <hr />
        <form id="frmBtcTransfers">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 input-lg">
                    @Html.RenderSelect2("Merchant:", "SelectedMerchant", merchantList, false, "Select merchant...")
                </div>
                <div class="col-md-2">
                    <input type="checkbox" onclick="selectAllCheckboxes()" id="selectall" />Select all
                </div>
            </div>
        </form>
        <div id="btcTransfersList"></div>

    <script>
        function selectAllCheckboxes()
        {
            var selector = document.getElementById("selectall");
            var listdiv = document.getElementById("btcTransfersList");
            var checkedBoxes = listdiv.querySelectorAll('input[type=checkbox]');
            for (var i = 0; i < checkedBoxes.length; i++) {
                if (selector.checked) {
                    checkedBoxes[i].checked = true;
                    checkedBoxes[i].setAttribute("checked", "checked");
                }
                else
                {
                    checkedBoxes[i].checked = false;
                    checkedBoxes[i].removeAttribute("checked");
                }
            }
        }

        function selectedCheckboxes()
        {
            var listdiv = document.getElementById("btcTransfersList");
            var checkedBoxes = listdiv.querySelectorAll('input[type=checkbox]:checked');
            var list = [];
            for (var i = 0; i < checkedBoxes.length; i++)
                list.push(checkedBoxes[i].name);
            ui.showDialog('@Url.Action("TransferMoneyDialog")', { selectedMerchant: '@Model.SelectedMerchant', selectedPaymentRequests: list });
        }
        $(function () {
            var $merchantSelect = $('#selectedMerchant');
            $merchantSelect.select2().on("change",
                function (e) {
                    var selector = document.getElementById("selectall");
                    selector.checked = false;
                    requests.doRequest({
                        url: '@Url.Action("BtcTransfersList")',
                        formId: '#frmBtcTransfers',
                        divResult: '#btcTransfersList'
                    });
                });
            $('.select2-container--default').width(200);
            requests.doRequest({ url: '@Url.Action("BtcTransfersList")', formId: '#frmBtcTransfers', divResult: '#btcTransfersList' });
        });
    </script>
}
else
{
    <p>@Phrases.NoGroupsExist</p>
}