@using BackOffice.Translates
@using Lykke.Service.PayInternal.Client.Models.Asset
@model AvailableAssetsByMerchantResponse

@if (Model != null)
{
    <table class="table table-striped">
        <tr>
            <th>
                Payment
            </th>
            <th>
                Settlement
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Model.PaymentAssets
            </td>
            <td>
                @Model.SettlementAssets
            </td>
            <td style="text-align: right">
                <button class="btn btn-xs btn-danger btn-raised"
                        onclick="ui.showDialog('@Url.Action("DeleteAssetByMerchantDialog")', { merchantId: '@Model.MerchantId' });">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
}
else
{
    <p>@Phrases.NoRecordsFound</p>
}