@using BackOffice.Translates
@using BackOffice.Models
@model BackOffice.Areas.LykkePay.Models.StaffsPageViewModel

@{
    IEnumerable<ItemViewModel> merchantList = Model.Merchants.
        Select(m => new ItemViewModel { Id = m.Id, Title = m.Name }).ToArray();
    merchantList.FirstOrDefault(x => x.Id == Model.SelectedMerchant).Selected = true;
}

@if (merchantList.Any())
{
    <div>
        <h1>Portal Access</h1>
        <div class="row">
            <div class="col-md-2">

                @if (Model.IsFullAccess)
                {
                    <a class="btn btn btn-success"
                       onclick="openDialog()">
                        Add
                    </a>
                }
            </div>
        </div>
    </div>
    <hr />
    <form id="frmStaffs">
        <div class="row">
            <div class="col-md-2 col-md-offset-0 input-lg">
                @Html.RenderSelect2("", "SelectedMerchant", merchantList, false, "Select merchant...")
            </div>
            <div class="col-md-3 col-md-offset-0 input-lg fa-search">
                <i class="glyphicon glyphicon-search"></i>@Html.TextBoxFor(m => m.SearchValue)
            </div>
        </div>
    </form>
    <div id="staffList"></div>

        <script>
        $(function () {
            var $merchantSelect = $('#selectedMerchant');
            $merchantSelect.select2().on("change",
                function (e) {
                    $("#SearchValue").val("");
                    requests.doRequest({
                        url: '@Url.Action("StaffsList")',
                        formId: '#frmStaffs',
                        divResult: '#staffList'
                    });
                });
            $('.select2-container--default').width(200);
            requests.doRequest({ url: '@Url.Action("StaffsList")', formId: '#frmStaffs', divResult: '#staffList' });
        });
        function openDialog()
        {
            var $merchantSelect = $('#selectedMerchant');
            ui.showDialog('@Url.Action("AddOrEditStaffDialog")', { merchant: $merchantSelect.val() });
        }
            $("#SearchValue").keydown(function (e) {
                if (e.keyCode == 13) {
                    requests.doRequest({ url: '@Url.Action("StaffsList")', formId: '#frmStaffs', divResult: '#staffList' });
                    e.preventDefault();
                }
            });
        </script>
}
else
{
    <p>@Phrases.NoGroupsExist</p>
}