@using BackOffice.Translates
@using Core.Users

@model BackOffice.Models.MainMenuViewModel
@{
    Layout = null;
}
<ul class="sidemenu" style="width: 201px;">
    @if (Model.UserRolesPair.HasAccessToFeature(UserFeatureAccess.MenuUsers))

    {
        <li class="smi" data-url="@Url.Action("Index", "Menu", new {area = "Users"})" data-text="Users and roles"></li>
    }
    @if (Model.UserRolesPair.HasAccessToFeature(UserFeatureAccess.MenuLykkePay))
    {
        <li class="smi" data-text="Lykke Pay" style="pointer-events: none;"></li>
        @if (Model.UserRolesPair.HasAccessToFeature(UserFeatureAccess.LykkePayMerchantsView))
        {
            <li class="smi smiSub" data-url="@Url.Action("Index", "Merchants", new { area = "LykkePay" })" data-text="Merchants"></li>
        }
        @if (Model.UserRolesPair.HasAccessToFeature(UserFeatureAccess.LykkePayMerchantsView) && Model.UserRolesPair.HasAccessToFeature(UserFeatureAccess.LykkePayStaffsView))
        {
            <li class="smi smiSub2" data-url="@Url.Action("Index", "Staffs", new { area = "LykkePay" })" data-text="Portal Access"></li>
        }
        <li class="smi smiSub2" data-url="@Url.Action("Index", "Supervisors", new { area = "LykkePay" })" data-text="Supervisors"></li>
        @if (Model.UserRolesPair.HasAccessToFeature(UserFeatureAccess.LykkePayTransfersView))
        {
            <li class="smi smiSub" data-url="@Url.Action("Index", "Transfers", new { area = "LykkePay" })" data-text="Transfers"></li>
        }
        @if (Model.UserRolesPair.HasAccessToFeature(UserFeatureAccess.LykkePayPaymentRequests))
        {
            <li class="smi smiSub" data-url="@Url.Action("Index", "PaymentRequests", new { area = "LykkePay" })" data-text="Payment requests"></li>
        }
        <li class="smi smiSub" data-url="@Url.Action("Index", "Assets", new {area = "LykkePay"})" data-text="Assets"></li>
        <li class="smi smiSub" data-url="@Url.Action("Index", "Markups", new {area = "LykkePay"})" data-text="Markups"></li>
    }
    <li class="smi"><a href="@Url.Action("GoogleSignout","Home")">@Phrases.Logout</a></li>
</ul>
