@using BackOffice.Helpers
@using BackOffice.Translates
@model BackOffice.Areas.Users.Models.UserDialogViewModel
@{
    Layout = "~/Views/Shared/_PersonalAreaDialog.cshtml";
}
<form id="frmRemoveUser">
    <input name="Id" value="@Model.Id" type="hidden" />

    <div style="width: 100%">
        @Phrases.RemoveUserDialogText1 <b>@Model.Id</b>? @Phrases.RemoveUserDialogText2:

        <div class="form-group">
            <input id="idConfirmation" name="IdConfirmation" class="form-control input-lg" placeholder="@Phrases.EmailConfirmation" value="" />
        </div>
    </div>
    
</form>
@Html.RenderDeleteCancelButtonPair(Url.Action("RemoveUser"), "#frmRemoveUser", Phrases.Remove)

