@using BackOffice.Models
@using BackOffice.Translates
@model BackOffice.Areas.LykkePay.Models.PaymentRequestPageViewModel

@{
    IEnumerable<ItemViewModel> merchantList = Model.Merchants.
        Select(m => new ItemViewModel { Id = m.Id, Title = m.Name }).ToArray();
    merchantList.FirstOrDefault(x => x.Id == Model.SelectedMerchant).Selected = true;
    IEnumerable<ItemViewModel> statusesList = Model.Statuses.
        Select(m => new ItemViewModel { Id = m.ToString(), Title = m.ToString() }).ToArray();
}

@if (merchantList.Any())
{
    <div>
        <h1>Payment Requests</h1>
        <hr />
        <form id="frmPaymentRequests">
            @Html.HiddenFor(x=>x.CurrentPage)
            @Html.HiddenFor(x => x.PageSize)
            <div class="row">
                <div class="col-md-2 col-md-offset-0 input-lg" style="padding-top: 14px;">
                    @Html.RenderSelect2("", "SelectedMerchant", merchantList, false, "Select merchant...")
                </div>
                <div class="col-md-2 col-md-offset-0 input-lg" style="padding-top: 14px;">
                    @Html.RenderSelect2("", "SelectedStatus", statusesList, false, "Select status...")
                </div>
                <div class="col-md-3 col-md-offset-0 input-lg">
                    <i class="glyphicon glyphicon-search"></i>
                    <div class="caption" style="position: absolute;top: -14px;left: 50px; color: lightgray;font-size: 14px;">search by wallet</div>
                    @Html.TextBoxFor(m => m.SearchValue)
                </div>
            </div>
        </form>
        <div id="paymentrequestsList"></div>
    </div>

    <script>
        $(function () {
            var $merchantSelect = $('#selectedMerchant');
            $merchantSelect.select2().on("change",
                function(e) {
                    requests.doRequest({
                        url: '@Url.Action("PaymentRequestsList")',
                        formId: '#frmPaymentRequests',
                        divResult: '#paymentrequestsList'
                    });
                });
            var $statusSelect = $('#selectedStatus');
            $statusSelect.select2().on("change",
                function(e) {
                    requests.doRequest({
                        url: '@Url.Action("PaymentRequestsList")',
                        formId: '#frmPaymentRequests',
                        divResult: '#paymentrequestsList'
                    });
                });
            $('.select2-container--default').width(200);
            requests.doRequest({ url: '@Url.Action("PaymentRequestsList")', formId: '#frmPaymentRequests', divResult: '#paymentrequestsList' });
        });
        $("#SearchValue").keydown(function (e) {

            if (e.keyCode == 13) {
                requests.doRequest({ url: '@Url.Action("PaymentRequestsList")', formId: '#frmPaymentRequests', divResult: '#paymentrequestsList' });
                e.preventDefault();
            }

        });
    </script>
}
else
{
    <p>@Phrases.NoGroupsExist</p>
}