@using Common
@using Microsoft.AspNetCore.Html
@model InputWithLabelModel
@functions
{
    public IHtmlContent GetStrOrEmptyAttr(string attr, string value)
    {
        if (value == null)
            return HtmlString.Empty;
        return new HtmlString(string.Format("{0}=\"{1}\"", attr, value));
    }
}
@{
    var id = Model.Name.FirstLetterLowCase();
}
<div class="form-group">
    <label class="control-label" for="@id">@Model.Caption</label>
        <div class='input-group date datetimepickerselector' id='datetimepicker2'>
        <input id="@id" name="@Model.Name" class="form-control @(Model.Lg ? "input-lg" : "")" type="text" @GetStrOrEmptyAttr("value", Model.Value) placeholder="MM/DD/YYYY" />
        <span class="input-group-addon  @(Model.Lg ? "input-lg" : "")">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>